@model string
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <script language="javascript">
        window.onload = function () {
            window.location.replace("@Html.Raw(Model)");
        }
    </script>
</head>
<body>
</body>
</html>
